*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --headingFont: 'Roboto', sans-serif;
  --bodyFont: 'Nunito', sans-serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7rem;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --borderRadiusLarger: 0.5rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --fluid-width: 90vw;
  --max-width: 1120px;
  --fixed-width: 500px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
  background: var(--grey-900);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
  font-family: inherit;
  font-size: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 1.5rem 2rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--extra-small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  color: var(--grey-800);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 0.5rem;
}

.form-textarea {
  height: 7rem;
}
::-webkit-input-placeholder {
  font-family: inherit;
  color: var(--grey-400);
  text-transform: capitalize;
}
::-moz-placeholder {
  font-family: inherit;
  color: var(--grey-400);
  text-transform: capitalize;
}
:-ms-input-placeholder {
  font-family: inherit;
  color: var(--grey-400);
  text-transform: capitalize;
}
::-ms-input-placeholder {
  font-family: inherit;
  color: var(--grey-400);
  text-transform: capitalize;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
  text-transform: capitalize;
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.page {
  height: calc(100vh - 3.5rem - 5rem - 4rem);
  background-color: var(--backgroundColor);
  width: 100vw;
}
.page-center {
  display: grid;
  place-items: center;
  width: var(--fluid-width);
  max-width: var(--max-width);
  padding-top: 3rem;
  margin: 0 auto;
}
.no-page {
  display: none;
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  -webkit-animation: spinner 0.6s linear infinite;
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}
/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

/* End of main.css */

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
}
.section-title {
  margin-bottom: 2rem;
}
.section-center {
  padding: 4rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}

/*
=============== 
Navbar
===============
*/

nav {
  background: var(--white);
  box-shadow: var(--shadow-2);
  height: 3.5rem;
  max-width: 100vw;
}
.nav-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0.4rem 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--primary-400);
  background: transparent;
  border-color: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
  margin-right: 0rem;
}
.nav-toggle:hover {
  color: var(--primary-600);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.logo {
  height: 2.5rem;
}
.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  justify-self: right;
}
.user {
  display: none;
}
.nav-meeting {
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}
.nav-start {
  grid-template-columns: 1fr 1fr;
  margin-right: 1rem;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}
@media screen and (min-width: 768px) {
  .nav-links {
    grid-template-columns: 5fr 0.5fr 2fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    font-size: large;
    max-width: 400px;
  }
  .user {
    display: block;
  }
  .nav-start {
    grid-template-columns: 1fr 1fr;
    margin-right: 1rem;
    -webkit-column-gap: 0.5rem;
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
  }
  .nav-app {
    grid-template-columns: 5fr 1fr 1fr;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    margin-right: 1rem;
  }
}
.nav-links a {
  text-transform: capitalize;
  color: var(--grey-500);
  font-weight: bold;
  letter-spacing: var(--spacing);
  -webkit-transform: var(--transition);
  transform: var(--transition);
}
.nav-links a:hover {
  color: var(--primary-500);
}
.avatar {
  border-radius: 50%;
}

/*
=============== 
Sidebar
===============
*/

.menu {
  position: fixed;
  top: 3.5rem;
  right: 0;
  width: 16rem;
  height: 100%;
  background: var(--grey-100);
  display: grid;
  gap: 1rem;
  -webkit-box-align: center;
  align-items: center;
  grid-template-rows: repeat(8, 1fr);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  z-index: 8;
}
.show-menu {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.menu-item:first-child {
  margin-top: 1rem;
}

.menu-item {
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 3.5rem;
  margin-left: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 13rem;
  background: var(--white);
  border: solid 1.5px var(--primary-500);
  border-radius: 0 2rem 2rem 0;
  min-width: 12rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.menu-item:enabled:hover {
  background: var(--grey-200);
  margin-left: 0.75rem;
}
.stop {
  background: var(--red-light);
}
.sidebar-icon {
  font-size: 1.5rem;
  color: var(--grey-600);
}
.inner-text {
  margin-left: 1rem;
  letter-spacing: var(--letterSpacing);
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: var(--grey-700);
}
#shareVideo:disabled .inner-text,
#canvasChat:disabled .inner-text,
#sharescreen:disabled .inner-text,
#replace-screen:disabled .inner-text {
  color: var(--grey-300);
}

/*
=============== 
Video
===============
*/

.videoContainer {
  display: grid;
  height: calc(100vh - 9.5rem);
  overflow: hidden;
}
.videoContainerChat {
  width: calc(100vw - 23rem);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'rv-1'
    'lv';
  place-items: center;
}
@media screen and (min-height: 740px) {
  .videoContainerChat {
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'rv-3'
      'rv-2'
      'lv'
      'rv-1';
  }
}
@media screen and (min-width: 720px) {
  .videoContainerChat {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'rv-1 rv-2'
      'rv-3 lv';
  }
}
@media screen and (min-width: 992px) {
  .videoContainerChat {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'rv-1 rv-2 rv-3 rv-4'
      'rv-5 rv-6 rv-7 lv';
  }
}
@media screen and (min-width: 1280px) and (min-height: 800px) {
  .videoContainerChat {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'rv-1 rv-2 rv-3 rv-10 rv-11'
      'rv-4 rv-5 rv-6 rv-12 rv-13'
      'rv-7 rv-8 rv-9 rv-14 lv';
  }
}
.videoContainerChatShare {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'sh-1 sh-1 sh-1 rv-1'
    'sh-1 sh-1 sh-1 lv';
}
@media screen and (min-height: 740px) {
  .videoContainerChatShare {
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'rv-2'
      'lv'
      'rv-1'
      'sh-1';
  }
}
@media screen and (min-width: 720px) {
  .videoContainerChatShare {
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'sh-1 sh-1 rv-3'
      'sh-1 sh-1 rv-4'
      'rv-1 lv rv-2';
  }
}
@media screen and (min-width: 922px) {
  .videoContainerChatShare {
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'sh-1 sh-1 sh-1 rv-3'
      'sh-1 sh-1 sh-1 rv-4'
      'rv-1 lv rv-2 rv-5';
  }
}
@media screen and (min-width: 1280px) and (min-height: 800px) {
  .videoContainerChatShare {
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'sh-1 sh-1 sh-1 rv-5 rv-7'
      'sh-1 sh-1 sh-1 rv-6 rv-8'
      'rv-1 lv rv-2 rv-3 rv-4';
  }
}
.videoContainerNoChat {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'rv-1'
    'lv';
  width: 100vw;
  place-items: center;
}
@media screen and (min-height: 740px) {
  .videoContainerNoChat {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'rv-1'
      'lv'
      'rv-2';
  }
}

@media screen and (min-width: 720px) {
  .videoContainerNoChat {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'rv-1 rv-2 rv-3'
      'rv-4 rv-5 lv';
  }
}
@media screen and (min-width: 922px) {
  .videoContainerNoChat {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'rv-1 rv-2 rv-3 rv-4 rv-5'
      'rv-6 rv-7 rv-8 rv-9 lv';
  }
}
@media screen and (min-width: 1280px) and (min-height: 800px) {
  .videoContainerNoChat {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'rv-1 rv-2 rv-3 rv-4 rv-5'
      'rv-6 rv-7 rv-8 rv-9 rv-10'
      'rv-11 rv-12 rv-13 rv-14 lv';
  }
}
.videoContainerNoChatShare {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'sh-1'
    'rv-1'
    'lv';
  place-items: center;
}
@media screen and (min-width: 720px) {
  .videoContainerNoChatShare {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'sh-1 sh-1 rv-1'
      'sh-1 sh-1 lv';
  }
}
@media screen and (min-width: 922px) {
  .videoContainerNoChatShare {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'sh-1 sh-1 sh-1 rv-1 rv-2'
      'sh-1 sh-1 sh-1 rv-3 lv';
  }
}
@media screen and (min-width: 1280px) and (min-height: 800px) {
  .videoContainerNoChatShare {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'sh-1 sh-1 sh-1 rv-1 rv-2'
      'sh-1 sh-1 sh-1 rv-3 rv-4'
      'rv-8 rv-7 rv-6 rv-5 lv';
  }
}
.localVideoContainer {
  position: relative;
  grid-area: lv;
  width: 214px;
  height: 160px;
  border: 5px solid var(--grey-700);
  border-radius: var(--borderRadius);
  margin: 0.2rem;
  align-self: center;
  background: var(--grey-700);
}
@media screen and (min-width: 768px) {
  .localVideoContainer {
    border: 7px solid var(--grey-700);
    margin: 0.4rem;
  }
}
.localVideoShareContainer {
  grid-area: sh-1;
  width: 100%;
  height: 100%;
  margin: 0.2rem;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .localVideoShareContainer {
    margin: 0.4rem;
  }
}

.remoteVideoContainer {
  position: relative;
  width: 214px;
  height: 160px;
  border: 5px solid var(--grey-700);
  border-radius: var(--borderRadius);
  margin: 0.2rem;
  align-self: center;
  background: var(--grey-700);
}
@media screen and (min-width: 768px) {
  .remoteVideoContainer {
    border: 7px solid var(--grey-700);
    margin: 0.4rem;
  }
}
.rv01 {
  grid-area: 'rv-1';
}
.rv02 {
  grid-area: 'rv-2';
}
.rv03 {
  grid-area: 'rv-3';
}
.rv04 {
  grid-area: 'rv-4';
}
.rv05 {
  grid-area: 'rv-5';
}
.rv06 {
  grid-area: 'rv-6';
}
.rv07 {
  grid-area: 'rv-7';
}
.rv08 {
  grid-area: 'rv-8';
}
.rv09 {
  grid-area: 'rv-9';
}
.rv10 {
  grid-area: 'rv-10';
}
.rv11 {
  grid-area: 'rv-11';
}
.rv12 {
  grid-area: 'rv-12';
}
.rv13 {
  grid-area: 'rv-13';
}
.rv14 {
  grid-area: 'rv-14';
}
.rv15 {
  grid-area: 'rv-15';
}
.rv16 {
  grid-area: 'rv-16';
}

.sharedVideoContainer {
  grid-area: sh-1;
  width: 100%;
  height: 100%;
  margin: 1rem;
  align-self: center;
}
.localVideo {
  display: block;
  width: 100%;
  height: 100%;
}
.smallVideoR {
  display: block;
  width: 100%;
  height: 100%;
}
/* class for shared video or screen */
.shareVideo {
  display: block;
  width: 100%;
  height: 100%;
}
.smallVideoM {
  display: block;
  width: 100%;
  height: 100%;
}
.behindVideo {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.frontVideo {
  z-index: 7;
}
.canvasAudio {
  z-index: 8;
  position: absolute;
  bottom: 0;
}
.noCanvasAudio {
  z-index: -1;
}
.new-state {
  border-color: var(--white);
}
.checking-state {
  border-color: blue;
}
.connected-state {
  border-color: var(--grey-700);
}
.completed-state {
  border-color: green;
}
.closed-state {
  border-color: honeydew;
}
.failed-state {
  border-color: red;
}
.disconnected-state {
  border-color: orange;
}

/*
=============== 
App Footer
===============
*/

.footer-webrtc {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 5.6rem;
  background-color: var(--grey-900);
  z-index: 11;
}

.footercontainer {
  border-top: #333333 1px solid;
  height: 100%;
}
/*
=============== 
Footer SVG Buttons
===============
*/
.buttonsSvg {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 25rem;
  background: transparent;
  place-items: center;
  margin: 0 auto;
}

#toggleVideo {
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
#toggleVideo:hover {
  -webkit-transform: scale(1.1275);
  transform: scale(1.1275);
}
#mute {
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
  height: 4rem;
  width: 4rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
#mute:enabled:hover {
  -webkit-transform: scale(1.1275);
  transform: scale(1.1275);
}
.mute {
  background: darkred;
}
.unmute {
  background: honeydew;
}
#hangup {
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
#hangup:enabled:hover {
  -webkit-transform: scale(1.1275);
  transform: scale(1.1275);
}

/*
=============== 
Settings
===============
*/
.hero {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url('../images/coffee.jpg') center/cover no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../images/coffee.jpg') center/cover no-repeat fixed;
  min-height: calc(100vh - 3.5rem);
  position: relative;
  overflow-x: hidden;
}
.banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.banner h2 {
  color: var(--white);
}
.banner h4 {
  color: var(--primary-100);
}
.banner h5 {
  color: var(--primary-100);
}
.radio {
  border: 1px solid var(--grey-300);
  padding: 0.5rem 0 0 1rem;
  margin-bottom: 1rem;
  background-color: var(--backgroundColor);
}
.radio h5 {
  margin-bottom: 0.5rem;
  font-size: var(--headingFont);
}
.input-radio {
  margin-left: 0.5rem;
}
.settings-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.btn a {
  color: var(--white);
}
.inputInvalid {
  background-color: var(--red-light);
  border: 0;
}
input:valid {
  border: 2px solid var(--black);
  background-color: var(--green-light);
}
.footer {
  background: var(--black);
  padding: 2rem 1rem 1rem;
  display: grid;
  place-items: center;
  color: var(--white);
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  height: 5rem;
  font-size: smaller;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 1rem;
  }
}
/*
=============== 
Canvas Chat
===============
*/

/* Height and width of aside */
.sc {
  max-height: calc(100vh - 9rem);
}
.sc {
  width: 22rem;
}
@media screen and (min-width: 768px) {
  .sc {
    width: 23rem;
  }
}

/* container for the grid of the message chat */
.chatContainer {
  position: fixed;
  top: 3.5rem;
  right: 0rem;
  display: grid;
  grid-template-columns: 21rem 0.75rem;
  grid-template-rows: 22.5rem 4rem;
  grid-template-areas:
    'a b'
    'c c';
  border: solid 4px var(--primary-400);
  border-radius: 0.3rem;
  background: var(--grey-100);
}
@media screen and (min-width: 768px) {
  .chatContainer {
    grid-template-columns: 22rem 0.75rem;
    grid-template-rows: 22.5rem 4rem;
  }
}

/* Position of the canvas in the grid */
.item-canvas {
  grid-area: a;
}
/* the input and button is below the canvas in a grid themselves */
.inputData {
  grid-area: c;
  display: grid;
  grid-template-columns: 17rem 4rem;
}
.chat {
  background: var(--grey-100);
  width: 100%;
}
.chatInput:focus {
  outline: none;
}
.chatInput {
  white-space: pre-wrap;
}
.item-input {
  border: var(--primary-400) solid 1px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: var(--primary-100);
  margin-top: 2px;
  margin-left: 0.75rem;
  margin-bottom: 0.3rem;
  padding: 0.3rem 0.625rem;
  height: 2.5rem;
  color: var(--primary-800);
  outline: none;
}
.item-send {
  border: var(--primary-400) solid 1px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: var(--primary-100);
  margin-top: 2px;
  margin-bottom: 0.3rem;
  padding: 0.3rem 0.3rem;
  height: 2.5rem;
  color: var(--primary-800);
}
.sliderWrapper {
  grid-area: b;
  width: 0.7rem;
}
.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20rem;
  height: 0.7rem;
  align-self: flex-end;
  -webkit-transform-origin: 10rem 10rem;
  transform-origin: 10rem 10rem;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  cursor: pointer;
  background: var(--grey-200);
  border: 2px solid var(--primary-200);
  border-radius: 1.5rem;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}
.slider:focus {
  outline: none;
}
.slider::-webkit-slider-runnable-track {
  border: 2px solid var(--primary-400);
  border-radius: 1.5rem;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  height: 0.7rem;
  width: 3rem;
  background: var(--grey-200);
}
input[type='range']::-moz-range-track {
  border: 1px solid var(--primary-200);
  border-radius: 1.5rem;
}
input[type='range']::-moz-range-thumb {
  height: 0.5rem;
  width: 3rem;
  background: var(--grey-200);
}

/*
=============== 
Home, register, login ... and Meeting Page
===============
*/
.hero-index {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url('../images/hero-index.jpg') center/cover no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/hero-index.jpg') center/cover no-repeat fixed;
  /* min-height: calc(100vh - 3.5rem); */
  min-height: 4rem;
}
.meeting {
  display: block;
  position: relative;
  height: calc(100vh - 3.5rem - 5rem - 4rem);
  background-color: var(--backgroundColor);
}
.no-meeting {
  display: none;
}
.meeting-center .form {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}
.meeting h3 {
  color: var(--primary-800);
  margin-bottom: 0.75rem;
  text-align: center;
}
.meeting-buttons {
  position: absolute;
  margin-top: 1rem;
  width: 90vw;
  margin-left: 1rem;
}
.center-buttons {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 768px) {
  .meeting-buttons {
    position: relative;
    margin: 0 auto;
    display: grid;
    place-items: center;
    grid-template-columns: 12rem 1fr;
  }
  .center-buttons {
    display: grid;
    place-items: center;
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
  }
  @media screen and (min-width: 992px) {
    .meeting-buttons {
      grid-template-columns: 1fr 12rem 1fr;
    }
  }
}
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 0.25rem;
  background: var(--primary-500);
  margin-left: auto;
  margin-right: auto;
}
.btn-gen {
  margin: 1rem auto;
}
@media screen and (min-width: 768px) {
  .btn-small {
    padding: 0.15rem 0.5rem;
    font-size: 0.75rem;
  }
}

.btn-logout {
  font-size: 1rem;
}
.button-start {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.button-alone {
  grid-template-columns: repeat(1, 1fr);
}
.btn-start {
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.btn-start:hover {
  -webkit-transform: scale(1.1275);
  transform: scale(1.1275);
}
.alertCodeNotProvided {
  text-align: center;
  display: grid;
  place-items: center;
}
.mg-1 {
  height: 1rem;
}
.mg-2 {
  height: 2rem;
}
.alert-show {
  opacity: 0;
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}
.alert-top {
  margin-top: 1rem;
}
.copy {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}
.copy-item {
  border: 1px solid var(--grey-300);
  color: var(--grey-400);
  padding: 0.3rem;
}
.no-copy {
  display: none;
}

.big-btn {
  font-size: 1.563rem;
  width: 8rem;
}
.big-btn:disabled,
.btn-gen:disabled {
  background-color: var(--grey-500);
  opacity: 0.3;
  cursor: default;
}
#googleButton {
  justify-self: start;
}
@media screen and (min-width: 768px) {
  #googleButton {
    margin-top: -1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}
.google-input {
  display: grid;
  -webkit-box-align: start;
  align-items: start;
  grid-template-columns: 2fr 0.2fr 0.5fr;
}
.input-avatar {
  font-size: var(--extra-small-text);
  line-height: 0.75;
  max-width: 5rem;
}
.input-checkbox {
}
/*
=============== 
Error Page
===============
*/
.page-100 {
  background: var(--primary-100);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.page-100 h1 {
  font-size: 10rem;
}
.page-100 h3 {
  text-transform: none;
  margin-bottom: 2rem;
}
.section-404 {
  height: 100vh;
}

/*
=============== 
Login Page
===============
*/

.register-link,
.reset-link {
  display: inline-block;
  margin-left: 0.25rem;
  text-transform: capitalize;
  color: var(--primary-500);
  cursor: pointer;
}
.reset-link {
  margin-top: 0.25rem;
}
.p-login {
  margin: 0;
  text-align: center;
}
.btn-login {
  margin-bottom: 1.5rem;
}
.no-form {
  display: none;
}
.form-opacity {
  opacity: '1';
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}

/*
=============== 
Verify Page
===============
*/

.section {
  height: calc(100vh - 3.5rem - 5rem - 4rem);
  background: var(--backgroundColor);
}
.no-section {
  display: none;
}
.no-button {
  display: none;
}
.form-padding {
  padding-bottom: 1rem;
}

/*
=============== 
Forgot Page
===============
*/
.form-title {
  text-align: center;
}

/*
=============== 
Modal Page
===============
*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 20;
}
.modal-container {
  background: var(--white);
  border-radius: var(--borderRadiusLarger);
  width: 90vw;
  height: 15vh;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center center;
  position: relative;
  visibility: hidden;
}

.modal-container p {
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: var(--letterSpacing);
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .modal-container {
    height: 25vh;
  }
  .modal-container p {
    font-size: 1.4rem;
    line-height: 1.3;
  }
}
.show-container {
  visibility: visible;
}
